table{
    max-width: 80%;
    min-width: 60%;
    border: 5px solid black;
    margin: 20px auto;
}

div form input[type="text"]{
    display: block;
    margin: 5px auto;
    width: 30%;
}

div form input[type="button"]{
    margin: 0 5px;
}

div form input[readOnly]{
    display: inline;
}